@keyframes moonPhase {
  to {
    box-shadow: inset 25vw 0 #FFF;
    transform: rotate(25deg); } }
@keyframes pulse {
  to {
    opacity: 0; } }
.navMenu {
  position: absolute;
  right: 5%;
  top: 40%;
  width: 20%; }
  .navMenu ul {
    max-width: 100%;
    list-style: none;
    line-height: 2vw;
    font-size: 1.2vw; }
  .navMenu a {
    text-decoration: none;
    color: #FFF; }
  .navMenu .listMarker {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFF; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111; }

.contentContainer {
  position: relative;
  margin-top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  overflow: hidden; }

.content {
  position: relative;
  height: 100%;
  width: 100.9%;
  overflow: auto;
  display: inline-block; }

.splash {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #111; }
  .splash .earth {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-animation: moonPhase 15s linear infinite;
    -moz-animation: moonPhase 15s linear infinite;
    -ms-animation: moonPhase 15s linear infinite;
    -o-animation: moonPhase 15s linear infinite;
    animation: moonPhase 15s linear infinite;
    position: relative;
    left: 36%;
    top: 10%;
    background: #000;
    box-shadow: inset -25vw 0 #FFF;
    transform: rotate(-25deg); }
  .splash h1 {
    position: relative;
    color: #FFF;
    left: 12%;
    top: 30%;
    width: 25%;
    font-size: 3vw; }
    .splash h1 span {
      text-decoration: underline; }
  .splash h3 {
    position: relative;
    color: #FFF;
    left: 19%;
    top: 33%;
    width: 25%;
    font-size: 1vw; }
  .splash .navArrow {
    width: 6%;
    position: relative;
    left: 46%;
    top: 20%; }
    .splash .navArrow img {
      -webkit-animation: pulse 1.8s linear infinite;
      -moz-animation: pulse 1.8s linear infinite;
      -ms-animation: pulse 1.8s linear infinite;
      -o-animation: pulse 1.8s linear infinite;
      animation: pulse 1.8s linear infinite;
      max-width: 100%;
      opacity: 0.6; }

.intro {
  position: relative;
  height: 40vh;
  width: 100%;
  background-color: #222; }
  .intro .introText {
    top: 30%;
    width: 25%;
    left: 40%;
    position: absolute; }
    .intro .introText span {
      font-size: 2vw; }
    .intro .introText p {
      color: #FFF; }

.portfolio {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111; }
  .portfolio .imgMedium {
    position: absolute;
    width: 50%;
    height: 50%; }
    .portfolio .imgMedium img {
      width: 100%;
      height: 100%; }
  .portfolio .reemond {
    left: 0%; }
  .portfolio .reemondDescription {
    position: absolute;
    width: 30%;
    top: 15%;
    left: 60%;
    color: #FFF; }
  .portfolio .dArchitecture {
    top: 50%;
    left: 50%; }
  .portfolio .dArchitectureDescription {
    color: #FFF;
    position: absolute;
    width: 30%;
    top: 65%;
    left: 10%; }

.cv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222; }
  .cv .content {
    position: relative;
    top: 5%;
    height: 90%;
    width: 40%;
    left: 20%;
    color: #FFF;
    overflow: hidden; }
    .cv .content h1 {
      padding-left: 2%;
      border-left: 2px solid #FFF; }
    .cv .content h2 {
      padding-top: 2%;
      padding-bottom: 2%;
      font-weight: 900;
      text-decoration: underline; }
    .cv .content h3 {
      padding-top: 1%;
      padding-bottom: 1%;
      font-weight: 800; }
      .cv .content h3 span {
        font-style: normal;
        left: 25%; }
    .cv .content span {
      margin-left: 5%;
      font-style: italic; }

.contact {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #111;
  font-size: 1.5vw;
  text-align: center; }
  .contact h3 {
    padding-top: 4%;
    color: #FFF; }
  .contact a {
    display: inline-block;
    padding-top: 3%;
    list-style: none;
    text-decoration: none;
    color: #FFF; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #111; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
