//variables
$primaryColour: #111;
$secondaryColour: #222;
$accentColour: #260B1D;

$mainFont: 'Open Sans', sans-serif;

//animation
@keyframes moonPhase {
    to {
        box-shadow: inset 14em 0 #555;
        transform: rotate(10deg);
    }
}

@keyframes pulse {
    to {
        opacity: 0;
    }
}

//mixins
@mixin noStyle {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

@mixin animationAll($name, $duration, $speed, $iteration) {
    -webkit-animation: $name $duration $speed $iteration;
   -moz-animation: $name $duration $speed $iteration;
    -ms-animation: $name $duration $speed $iteration;
     -o-animation: $name $duration $speed $iteration;
        animation: $name $duration $speed $iteration;
}



//shapes
@mixin moon {
    width: 14em;
    height: 0;
    padding-bottom: 14em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

//Menu
.navMenu {
    position: fixed;
    width: 15%;
    height: auto;
    bottom: 8%;
    right: 9%;
    z-index: 9;

    ul {
        position: absolute;
        top: -50%;
        right: 100%;
        list-style: none;
        display: none;

        a {
            color: #FFF;
        }

        li:first-child {
            position: relative;
            left: 30%;
        }
        li:nth-child(2) {
            position: relative;
            left: -20%;
            padding-top: 10%;
        }
        li:nth-child(3) {
            position: relative;
            left: 0%;
            padding-top: 10%;
        }
    }

}

.navButton {
    border: 3px solid rgba(0,0,0,0.8);
    box-shadow: 2px 3px 5px #000;
    background-color: #E02828;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;

    a {
        color: #FFF;
        font-size: 2.2em;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primaryColour;
}
.contentContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.section {
    width: 100%;
    height: 100%;
}

.splash {
    position: relative;
    height: 100%; 
    width: 100%;
    background-color: $primaryColour;

    .moon {
        @include moon;
        @include animationAll(moonPhase, 19s, linear, infinite);
        position: relative;
        left: 23%;
        top: 24%;
        background: #000;
        box-shadow: inset -14em 0 #555;
        transform: rotate(-10deg);
    }

    h1 {
        position: relative;
        color: #FFF;
        left: 12%;
        top: 13%;
        width: 25%;
        font-size: 3em;

    }
    h3 {
        position: relative;
        color: #FFF;
        left: 40%;
        top: 14%;
        width: 25%;
        font-size: 1em;
    }

    .navArrow{
        position: absolute;
        width: 15%;
        left: 42.5%;
        top: 88vh;

        img {
            @include animationAll(pulse, 1.8s, linear, infinite);
            max-width: 100%;
            opacity: 0.6;
        }
    }
}

.intro{
    position: relative;
    height: 40%;
    width: 100%;
    background-color: $secondaryColour;

    .introText {
        top: 20%;
        width: 80%;
        left: 20%;
        position: absolute;

        span {
            font-size: 2em;
        }

        p {
            font-size: 1em;
            color: #FFF;
        }
    }
}

.portfolio{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primaryColour;
    white-space: nowrap;
    overflow: auto;

    .imgMedium {
        position: absolute;
        width: 100%;
        height: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .dArchitecture {
        left: 100%;
        top: 0%;
    }
    .workDescription {
        position: relative;
        width: 100%;
        height: 50%;
        top: 50%;

        p {
            position: relative;
            width: 100%;
            color: #FFF;
            white-space: normal;
        }
    }

    .dArchitectureDescription {
        left: 100%;
        top: 0%;
     }
}

.cv{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: $secondaryColour;

    .content {
        position: relative;
        top: 5%;
        width: 80%;
        left: 10%;
        color: #FFF;
        overflow: hidden;
        font-size: 0.8em;

        h1 {
            padding-left: 2%;
            border-left: 2px solid #FFF;
        }

        h2 {
            padding-top: 2%;
            padding-bottom: 2%;
            font-weight: 900;
            text-decoration: underline;
        }

        h3 {
            padding-top: 1%;
            padding-bottom: 1%;
            font-weight: 800;

            span {
                font-style: normal;
                left: 25%;
            }
        }

        span {
            margin-left: 5%;
            font-style: italic;
        }

        .workDate {

        }
    }
}

.contact{
    position: relative;
    width: 100%;
    height: 30%;
    background-color: $primaryColour;
    text-align: center;

    h3 {
        padding-top: 4%;
        color: #FFF;
    }

    a {
        display: inline-block;
        padding-top: 3%;
        list-style: none;
        text-decoration: none;
        color: #FFF;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $mainFont;
    background-color: $primaryColour;
}

html {
    font-size: 12pt;
}

* {
    @include noStyle;
    text-decoration: none;
}
