@keyframes moonPhase {
  to {
    box-shadow: inset 14em 0 #555;
    transform: rotate(10deg); } }
@keyframes pulse {
  to {
    opacity: 0; } }
.navMenu {
  position: fixed;
  width: 15%;
  height: auto;
  bottom: 8%;
  right: 9%;
  z-index: 9; }
  .navMenu ul {
    position: absolute;
    top: -50%;
    right: 100%;
    list-style: none;
    display: none; }
    .navMenu ul a {
      color: #FFF; }
    .navMenu ul li:first-child {
      position: relative;
      left: 30%; }
    .navMenu ul li:nth-child(2) {
      position: relative;
      left: -20%;
      padding-top: 10%; }
    .navMenu ul li:nth-child(3) {
      position: relative;
      left: 0%;
      padding-top: 10%; }

.navButton {
  border: 3px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 3px 5px #000;
  background-color: #E02828;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center; }
  .navButton a {
    color: #FFF;
    font-size: 2.2em; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111; }

.contentContainer {
  position: relative;
  height: 100%;
  width: 100%; }

.section {
  width: 100%;
  height: 100%; }

.splash {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #111; }
  .splash .moon {
    width: 14em;
    height: 0;
    padding-bottom: 14em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-animation: moonPhase 19s linear infinite;
    -moz-animation: moonPhase 19s linear infinite;
    -ms-animation: moonPhase 19s linear infinite;
    -o-animation: moonPhase 19s linear infinite;
    animation: moonPhase 19s linear infinite;
    position: relative;
    left: 23%;
    top: 24%;
    background: #000;
    box-shadow: inset -14em 0 #555;
    transform: rotate(-10deg); }
  .splash h1 {
    position: relative;
    color: #FFF;
    left: 12%;
    top: 13%;
    width: 25%;
    font-size: 3em; }
  .splash h3 {
    position: relative;
    color: #FFF;
    left: 40%;
    top: 14%;
    width: 25%;
    font-size: 1em; }
  .splash .navArrow {
    position: absolute;
    width: 15%;
    left: 42.5%;
    top: 88vh; }
    .splash .navArrow img {
      -webkit-animation: pulse 1.8s linear infinite;
      -moz-animation: pulse 1.8s linear infinite;
      -ms-animation: pulse 1.8s linear infinite;
      -o-animation: pulse 1.8s linear infinite;
      animation: pulse 1.8s linear infinite;
      max-width: 100%;
      opacity: 0.6; }

.intro {
  position: relative;
  height: 40%;
  width: 100%;
  background-color: #222; }
  .intro .introText {
    top: 20%;
    width: 80%;
    left: 20%;
    position: absolute; }
    .intro .introText span {
      font-size: 2em; }
    .intro .introText p {
      font-size: 1em;
      color: #FFF; }

.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111;
  white-space: nowrap;
  overflow: auto; }
  .portfolio .imgMedium {
    position: absolute;
    width: 100%;
    height: 50%; }
    .portfolio .imgMedium img {
      width: 100%;
      height: 100%; }
  .portfolio .dArchitecture {
    left: 100%;
    top: 0%; }
  .portfolio .workDescription {
    position: relative;
    width: 100%;
    height: 50%;
    top: 50%; }
    .portfolio .workDescription p {
      position: relative;
      width: 100%;
      color: #FFF;
      white-space: normal; }
  .portfolio .dArchitectureDescription {
    left: 100%;
    top: 0%; }

.cv {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #222; }
  .cv .content {
    position: relative;
    top: 5%;
    width: 80%;
    left: 10%;
    color: #FFF;
    overflow: hidden;
    font-size: 0.8em; }
    .cv .content h1 {
      padding-left: 2%;
      border-left: 2px solid #FFF; }
    .cv .content h2 {
      padding-top: 2%;
      padding-bottom: 2%;
      font-weight: 900;
      text-decoration: underline; }
    .cv .content h3 {
      padding-top: 1%;
      padding-bottom: 1%;
      font-weight: 800; }
      .cv .content h3 span {
        font-style: normal;
        left: 25%; }
    .cv .content span {
      margin-left: 5%;
      font-style: italic; }

.contact {
  position: relative;
  width: 100%;
  height: 30%;
  background-color: #111;
  text-align: center; }
  .contact h3 {
    padding-top: 4%;
    color: #FFF; }
  .contact a {
    display: inline-block;
    padding-top: 3%;
    list-style: none;
    text-decoration: none;
    color: #FFF; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #111; }

html {
  font-size: 12pt; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
