@keyframes pulse {
  0% {
    border: 4px solid #260B1D; }
  100% {
    border: 4px solid #260B1D; } }
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111; }

.contentContainer {
  position: relative;
  margin-top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  overflow: hidden; }

.content {
  position: relative;
  height: 100%;
  width: 100.9%;
  overflow: auto;
  display: inline-block; }

.splash {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #111; }
  .splash .earth {
    position: relative;
    width: 50vh;
    height: 50vh;
    border-radius: 25vh;
    -moz-border-radius: 25vh;
    -webkit-border-radius: 50vh;
    background-color: transparent;
    animation-name: pulse;
    animation-duration: infinite;
    left: 35%;
    top: 15%; }
  .splash h1 {
    position: relative;
    color: #FFF;
    left: 15%;
    top: 30%;
    width: 25%;
    font-size: 3vw; }
    .splash h1 span {
      text-decoration: underline; }

.intro {
  position: relative;
  height: 40vh;
  width: 100%;
  background-color: #222; }
  .intro .introText {
    top: 30%;
    width: 25%;
    left: 40%;
    position: absolute; }
    .intro .introText span {
      font-size: 2vw; }
    .intro .introText p {
      color: #FFF; }

.portfolio {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111; }
  .portfolio .imgMedium {
    position: absolute;
    width: 50%;
    height: 50%; }
    .portfolio .imgMedium img {
      width: 100%;
      height: 100%; }
  .portfolio .reemond {
    left: 0%; }
  .portfolio .reemondDescription {
    position: absolute;
    width: 30%;
    top: 15%;
    left: 60%;
    color: #FFF; }
  .portfolio .dArchitecture {
    top: 50%;
    left: 50%; }
  .portfolio .dArchitectureDescription {
    color: #FFF;
    position: absolute;
    width: 30%;
    top: 65%;
    left: 10%; }

.cv {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222; }
  .cv .content {
    position: relative;
    top: 5%;
    height: 90%;
    width: 40%;
    left: 20%;
    color: #FFF; }
    .cv .content h1 {
      padding-left: 2%;
      border-left: 2px solid #FFF; }
    .cv .content h2 {
      padding-top: 2%;
      padding-bottom: 2%;
      font-weight: 900;
      text-decoration: underline; }
    .cv .content h3 {
      padding-top: 1%;
      padding-bottom: 1%;
      font-weight: 800; }
      .cv .content h3 span {
        font-style: normal;
        left: 25%; }
    .cv .content span {
      margin-left: 5%;
      font-style: italic; }

.contact {
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: #111;
  font-size: 1.5vw;
  text-align: center; }
  .contact h3 {
    padding-top: 5%;
    color: #FFF; }
  .contact a {
    display: inline-block;
    padding-top: 2%;
    list-style: none;
    text-decoration: none;
    color: #FFF; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #111; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
